.feedback {
    padding: 5px 0;
    text-align: center;
    background: #11bfbf;
    border-top: 1px solid #eee;
    margin-bottom: 5px;
}

.feedbackButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.btnFeedback {
    padding: 8px 25px;
    border: 1px solid #F2BC8D;
    background: #F2BC8D;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnFeedback.no {
    border-color: #F2BC8D;
    color: #000000;
}

.btnFeedback:hover {
    background: #d8a77d;
    color: #000000;
}

.btnFeedback.no:hover {
    background: #d8a77d;
}


/* Móviles pequeños (hasta 480px) */
@media (max-width: 480px) {
    .feedback p {
      font-size: 0.9rem;
    }
  
    .feedbackButtons {
      flex-direction: column;
      gap: 10px;
    }
  
    .btnFeedback {
      padding: 8px 20px;
      font-size: 0.9rem;
    }
  }
  
  /* Tablets (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    .feedback p {
      font-size: 1rem;
    }
  
    .feedbackButtons {
      gap: 15px;
    }
  
    .btnFeedback {
      padding: 8px 25px;
      font-size: 1rem;
    }
  }
  
  /* Laptops (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .feedback p {
      font-size: 1.1rem;
    }
  
    .feedbackButtons {
      gap: 20px;
    }
  
    .btnFeedback {
      padding: 10px 30px;
      font-size: 1.1rem;
    }
  }
  
  /* Pantallas grandes (más de 1024px) */
  @media (min-width: 1025px) {
    .feedback p {
      font-size: 1.2rem;
    }
  
    .feedbackButtons {
      gap: 25px;
    }
  
    .btnFeedback {
      padding: 10px 35px;
      font-size: 1.2rem;
    }
  }
  